@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Fira+Sans+Condensed:ital,wght@0,400;1,200&display=swap');
a:link 
{
    color: #57b1dc;
    background-color: transparent;
    text-decoration: underline;
  }
  a:visited 
  {
    color: #1089c2;
    background-color: transparent;
    text-decoration: underline;
  }
  a:hover, a:focus, a:active {
    color:#FAB42A;
    text-shadow: 0 0 2px #ffd500, 0 0 5px rgba(98, 198, 245, 0.15);
}
  body{ 
      background-color: #0f0f0f; 
   
  }
  h1 { 
      text-align: center;
      font-family: 'Archivo', sans-serif;
      font-weight: bold; 
      text-transform: uppercase; 
      letter-spacing: 15px;
      font-size: 30px;
      
      padding-bottom: 25px;
      padding-top: 5px;

      color:#FAB42A;

      } 
      @media (max-width: 600px) {
        .column {
          vertical-align: middle;
          flex: 25%;
          max-width: 45%;
          padding: 0 25px;
          text-align: center;

        
        }
      }
      @media (min-width: 601px) {
        .column {
          vertical-align: middle;
          flex: 25%;
          max-width: 65%;
          padding: 0 25px;
          text-align: center;
          margin-left: 8.5em;
        
        }
      }
 
          .row{
            display: flex;
            flex-wrap: wrap;
            padding: 0 4px;
          }
          .column img {
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
          }
          footer { border-top: 1px 
            solid #37EEFB;  
            text-align: center;  
            padding-top: 1em; 
            font-family: 'Fira Sans Condensed', sans-serif;
            
            font-weight: bold;
            font-size: 1.5em;
            margin-top: 30px;
            padding-bottom: 1em;
  } 
  h2{
    color:aliceblue;
    text-align: center;
    
    padding-bottom: 25px;
  }
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
    }}

 

    .thumbnail img{
      margin-top: 8px;
      vertical-align: middle;
      
      transition: transform 0.3s; /* Add a smooth transition effect on hover */
    }
    .thumbnail img:hover{
      transform: scale(1.05); /* Scale the image by 10% on hover (adjust as needed) */
    }
    .scrollToTopBtn {
        position: fixed;
        bottom: 1.55em; /* Adjust the distance from the bottom as needed */
        right: 1.25em; /* Adjust the distance from the right as needed */
        z-index: 1000; /* Ensure the button is above other content */
      
        color: #fff; /* White text color */
        border: none;
        padding: .5em 1em;
        border-radius: .25em;
        cursor: pointer;
        opacity: 1; /* Make the button visible */
        transition: opacity 0.3s; /* Add a transition for smooth fading in/out */
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        background-color: #FAB42A;
       /* Replace 'path_to_arrow_up_icon.png' with the actual path to your arrow-up icon */
        background-size: 1.5em; /* Adjust the size of the arrow icon */
        background-repeat: no-repeat;
        background-position: center; /* Center the arrow icon */
        animation: fadeIn 0.5s ease;
        display: none;
        opacity: 0;
        transition: opacity 0.3s, transform 0.3s;
      }
    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    
    /* Show the button when you scroll down */

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    
    /* Show the button when you scroll down */
    .show-button {
      display: block;
      opacity: 1;
      transform: translateY(0); /* Optionally, add a scaling effect */
    }
    header {
    margin-left: 20px;
    background-color: #111111;

    }
    
    .main-nav {
      display: flex;
      justify-content: space-around;
      padding: 10px;
    }
    
    .main-nav ul {
      list-style: none;
      padding: 0;
    }
    
    .main-nav ul li {
      display: inline;
      position: relative;
    }
    
    .main-nav ul li a {
      color: #fff;
      text-decoration: none;
    }
    
    .main-nav ul li:hover .sub-nav {
      display: block;
    }
    
    .sub-nav {
      display: none;
      position: absolute; /* Position the sub-navigation absolutely */
      background-color: #111111;
      z-index: 1;
      top: 100%; /* Position it below the parent element */
      left: 0; /* Align it with the left edge of the parent element */
      font-size: .75em;
    }
    
    .main-nav ul li {
      display: inline;
      position: relative; /* Position the parent relative to allow absolute positioning for the sub-navigation */
    }
    
    .sub-nav li {
      display: block;
      padding: 10px;
    }
    
    .sub-nav li a {
      color: #fff;
      text-decoration: none;
      display: block; /* Display each item on a new line */
    }
    .main-nav ul li:hover, .main-nav ul li a:hover {
    
      transition: background-color 0.3s; /* Add a smooth transition effect */
    }
    .centered-text {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .nav-item {
      flex: 1; /* Equal distribution of space among items */
      text-align: center; /* Center-align the text within each item */
      padding: 10px; /* Adjust as needed for spacing */
      list-style-type: none; /* Remove bullet points */
      position: relative; /* Position for pseudo-elements */
    
      /* Customize the glow color and other text styles */
      font-weight: bold;
    
      /* Glowing effect animation */
      transition: text-shadow 0.3s; /* Add a smooth transition effect */
    }
    .nav-item:hover {
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Adjust the glow color and size as needed */
    }
    /* Define the glowing animation */
    @keyframes glowing {
      0% {
        color: #57b1dc; /* Initial text color */
      }
      50% {
        color: #FAB42A; /* Glowing text color */
      }
      100% {
        color: #57b1dc; /* Return to the initial text color */
      }
    }
    .thumbnail{
        display:none;
    }
    .centered-images {
      display: flex;
      flex-direction: column; /* Display images in a single column */
      align-items: center; /* Center-align images horizontally */
      padding: 10px; /* Add spacing as needed */
    }
    
    /* Center-align individual images within the column */
    .centered-images a {
      text-align: center;
    }