.page-nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    background: var(--card-bg);
    transition: background 0.3s ease, color 0.3s ease;
}

header {
    padding-top: .35rem;
    padding-bottom: .35rem;
    text-align: center;
    background: var(--card-bg);
    box-shadow: var(--box-shadow-header);
    transition: background 0.3s ease, color 0.3s ease;
}

.page-nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

.page-nav li {
    position: relative;
    padding: 0 15px;
    margin: 0 15px;
}

.page-nav li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;           
    transform: translateY(-50%); 
    width: 1px;         
    height: 120%;        
    background: var(--accent2);
    background: linear-gradient(to right, var(--accent2), var(--nav));
    margin: 0 -2rem;
}

.page-nav a {
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: var(--text);
    line-height: 1;
}

.page-nav li a {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    padding: 5px 0;
    transition: color 0.3s;
}

.page-nav li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: var(--accent2);
    transition: width 0.3s;
}

.page-nav li a:hover {
    text-shadow:
    0 0 2px var(--accent),
}

.page-nav li a:hover::after {
    width: 100%; 
}

.page-nav li.current a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100% !important;
    height: 2px;
    background: var(--accent2);
    border-radius: 999px;
}

.page-nav li a {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    padding: 5px 0;
    transition: text-shadow 0.3s;
}

.page-nav .links {
    position: absolute;
    display: flex;
    gap: 0.5rem;
}

.page-nav .github, 
.page-nav .linkedin {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.page-nav .github {
    background-image: url("../thumbnail/github.svg");
}

.page-nav .linkedin {
    background-image: url("../thumbnail/linkedin.svg");
}

.page-nav .email {
    background-image: url("../thumbnail/envelopeblack.svg");
}

[data-theme="dark"] .page-nav .github {
    background-image: url("../thumbnail/githubwhite.svg");
}

[data-theme="dark"] .page-nav .linkedin {
    background-image: url("../thumbnail/linkedinwhite.svg");
}

[data-theme="dark"] .page-nav .email {
    background-image: url("../thumbnail/envelopeblack.svg");

}

.page-nav .nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    flex: 1;
    justify-content: center;
}

.page-nav a.github,
.page-nav a.linkedin,
.page-nav a.email {
    position: relative;
    width: 24px;
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.2rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.6s ease;
}

.page-nav a.email {
    padding-left: 0.2rem;
    background-size: auto 120%;
    filter: var(--invert);
}

.page-nav a.github::after,
.page-nav a.linkedin::after,
.page-nav a.email::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: var(--accent2);
    border-radius: 999px;
    transform: translateX(-50%);
    transition: width 0.3s ease;
    bottom: -3px;
}

.page-nav a.github:hover::after,
.page-nav a.linkedin:hover::after {
    width: 60%;
    bottom: -3px;
}

.page-nav a.email:hover::after {
    width: 60%;
    bottom: -2px;
}

.page-nav a.github:hover,
.page-nav a.linkedin:hover,
.page-nav a.email:hover {
    transform: scale(1.2);
}
@media (max-width: 600px) {
  .page-nav {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
  }

  .page-nav .nav-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 0rem;
    width: 100%;
  }

  .page-nav .links {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 0.5rem;
    position: static;
  }

  .page-nav li {
    font-size: .5rem;
    padding: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .page-nav li:not(:last-child)::after {
    display: none;
  }
  
  body{
    padding: 0;
  }

}