/* stylesheets/webdesignstyle.css */

@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400&family=Arimo:wght@400;500&family=Comfortaa:wght@300;400&family=Frank+Ruhl+Libre&family=Noto+Sans+Tamil:wght@300;400&family=Roboto:wght@300&family=Scada:ital,wght@1,700&family=Staatliches&family=Zen+Kaku+Gothic+New:wght@300;400;700&family=Zen+Maru+Gothic&family=Zilla+Slab:wght@300;400&display=swap');

body {
    background-color: #111111;
    margin: 0 10%;
    font-family: sans-serif;
}

a:link {
    color: #57b1dc;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: #1089c2;
    background-color: transparent;
    text-decoration: underline;
}

a:hover, a:focus {
    color:#FAB42A;
    text-shadow: 0 0 2px #ffd500, 0 0 5px rgba(98, 198, 245, 0.15);
}

ul {
    color: azure;
    font-size: 1em;
    list-style-type: none;
}

li {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-size: 2.5em;
    color: #FAB42A;
}

h5 {
    border-bottom: 1px solid #37EEFB;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 1.5em;
    text-align: center;
    color: azure;
    font-size: 1em;
}

h2 {
    color: #FAB42A;
    font-size: 2.75em;
    font-family: 'Fira Sans Condensed', sans-serif;
}

footer {
    border-top: 1px solid #37EEFB;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

h3 {
    border-top: 1px solid #37EEFB;
    padding-top: 1em;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #FAB42A;
    font-size: 1.5em;
}

p {
    color: azure;
    font-size: 1.25em;
    font-family: 'Roboto', sans-serif;
}

footer {
    text-align: center;
    padding-top: 1em;
    font-size: 1.25em;
}

footer img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

img {
    text-align: center;
    height: 250px;
}

@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Fira+Sans+Condensed:ital,wght@1,200&display=swap');

.thumbnail {
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    display: flex;
    flex: 1 1 50px;
    justify-content: center;
}

.thumbnail img {
    max-width: 100%;
    height: auto;
    scale: 1.1;
}

#me {
    padding-top: 20px;
}

.education-list ul {
    margin-left: 23px;
    font-size: 1.25em;
}

h4 {
    color: azure;
    font-size: 1.5em;
    margin-left: 25px;
}

.websiteimage {
    text-align: center;
}

.highlight {
    color: #FAB42A;
    font-size: 1.15em;
    list-style-type: none;
    font-weight: bold;
    line-height: 1.5em;
}

.education {
    list-style: none;
    line-height: 2em;
}

.coursework {
    font-size: 10px;
}

.education-list .education ul {
    margin-left: 23px;
    font-size: 1em;
    padding-bottom: 5px;
}

.education-list .education ul .coursework {
    margin-left: 20px;
    font-size: 20px;
    padding-left: 40px;
}

.intro {
    border-bottom: 1px solid #37EEFB;
    padding-bottom: 2em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    line-height: 1.65;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.65em;
}

.back-link {
    margin-right: 100px;
}

.about-me-container {
    display: flex;
    align-items: center;
}
.hfimg {
    padding-bottom: 20px; /* Adjust the value to control the padding */
    margin-bottom: 1em;
}
h3.hf {
    margin-bottom: 20px; /* Adjust the value to control the margin */
}
.hfwf {
    padding-bottom: 20px;
}

.wireframe-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wireframe-content img {
    max-width: 100%; /* Adjust the image size as needed */
    height: auto;
    margin-right: 20px; /* Add some spacing between the image and text */
}

.wireframe-content a {
    max-width: 50%; /* Limit the width of the anchor element */
    text-align: center; /* Center the anchor element */
    margin: 0 auto; /* Center the anchor element horizontally */
    display: inline-block; /* Change to inline-block to maintain the anchor element's size */
    vertical-align: middle; /* Align vertically with the image */
    
}

.wireframe-content p {
    flex: 1;
    color: azure;
    font-size: 1.25em;
    font-family: 'Roboto', sans-serif;
}
.hfwf p{
    padding-left: 50px;
    padding-right: 30px;
    font-size: 1.5em;
    line-height: 1.35em;
}

.wireframe2-content {
    display: flex;
    align-items: center;
}

.wireframe2-content a {
    width: 660px; /* Make the anchor tag take up the full width of its parent */
    max-width: 100%;
    height: autos;
    text-align: center; /* Center the anchor element */
}

.wireframe2-content img {
    max-width: 60%;
    height: auto;
    margin-right: 20px;
}

.wireframe2-content p {
    flex: 1;
    color: azure;
    font-size: 1.25em;
    font-family: 'Roboto', sans-serif;
}
footer a {
    margin-right: 20px;
}
footer a:last-child {
    margin-right: 0;
}
.scrollToTopBtn {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  z-index: 1000;
  color: #fff;
  border: none;
  padding: .5em 1em;
  border-radius: .25em;
  cursor: pointer;
  opacity: 0.5; 
  transition: opacity 0.3s, transform 0.3s;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: #FAB42A;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  animation: fadeIn 0.5s ease;
  display: none;
}


.scrollToTopBtn:hover {
  opacity: 1;
  transform: scale(1.2);
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.show-button {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
  header {
  margin-left: 20px;
  background-color: #111111;
  border-bottom: #37EEFB solid 1px;
  padding-top:20px;
  }
  
  .main-nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  
  .main-nav ul {
    list-style: none;
    padding: 0;
  }
  
  .main-nav ul li {
    display: inline;
    position: relative;
  }
  
  .main-nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .main-nav ul li:hover .sub-nav {
    display: block;
  }
  
  .sub-nav {
    display: none;
    position: absolute; /* Position the sub-navigation absolutely */
    background-color: #111111;
    z-index: 1;
    top: 100%; /* Position it below the parent element */
    left: 0; /* Align it with the left edge of the parent element */
    font-size: .75em;
  }
  
  .main-nav ul li {
    display: inline;
    position: relative; /* Position the parent relative to allow absolute positioning for the sub-navigation */
  }
  
  .sub-nav li {
    display: block;
    padding: 10px;
  }
  
  .sub-nav li a {
    color: #fff;
    text-decoration: none;
    display: block; /* Display each item on a new line */
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-nav ul li:hover, .main-nav ul li a:hover {
  
    transition: background-color 0.3s; /* Add a smooth transition effect */
  }
  .centered-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-item {
    flex: 1; /* Equal distribution of space among items */
    text-align: center; /* Center-align the text within each item */
    padding: 10px; /* Adjust as needed for spacing */
    list-style-type: none; /* Remove bullet points */
    position: relative; /* Position for pseudo-elements */
  
    /* Customize the glow color and other text styles */
    font-weight: bold;
  
    /* Glowing effect animation */
    transition: text-shadow 0.3s; /* Add a smooth transition effect */
  }
  .nav-item:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Adjust the glow color and size as needed */
  }
  /* Define the glowing animation */
  @keyframes glowing {
    0% {
      color: #57b1dc; /* Initial text color */
    }
    50% {
      color: #FAB42A; /* Glowing text color */
    }
    100% {
      color: #57b1dc; /* Return to the initial text color */
    }
  }
  .page-nav {
    display: flex;
    justify-content: space-around; /* Adjust as needed to control the spacing */
    background-color: #111111;
    border-top: 1px solid #37EEFB;
    padding: 10px 0; /* Add padding to the top and bottom (adjust the value as needed) */
  }
  
  .page-nav ul {
    list-style: none;
    padding: 0;
    display: flex; /* Display the list items as flex items */
    
  }
  
  .page-nav li {
    margin: 0 15px; /* Adjust the margin to control the spacing between items */
  }
  
  .page-nav a {
    text-decoration: none;
    color: #fff;
  }
  
  .page-nav a:hover {
    color: #FAB42A;
  }
  #illustrations-designs{
    border-bottom: #37EEFB 1px solid;
    padding-bottom: 1.1em;
  }
  .m-nav{
    display: none;
  }
  .slides-container {
    display: flex;
    align-items: center; /* Center-align content vertically */
    margin: 0;
}
@media (max-width:1024px) {
  .slides-container iframe {
    flex: 1;
    max-width: 100%;
    width: 120px;
    height: 245px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    background-color: black;
}
  }
@media (min-width:1440px) {
  .slides-container iframe {
    flex: 1;
    max-width: 100%;
    width: 120px;
    height: 340px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    background-color: black;
}
  }
@media (min-width:1920px) {
  .slides-container iframe {
    flex: 1;
    max-width: 100%;
    width: 120px;
    height: 420px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    background-color: black;
}
  }

@media (min-width:2559px) {
  .slides-container iframe {
    flex: 1;
    max-width: 100%;
    width: 120px;
    height: 600px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}
  }

.text {
    flex: 1;
    padding: 10px;
}
.last{
  margin-bottom: 40px;
}
body::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background: #1a1a1a; /* Set the background color of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
  background: #FAB42A; /* Set the color of the scrollbar thumb (dark blue) */
  border-radius: 6px; /* Round the corners of the thumb */
  transition: background 0.3s; /* Add a transition for the background color */
}

body::-webkit-scrollbar-thumb:hover {
  background: #FAB42A; /* Change the thumb color on hover (light blue) */
}