a{
  padding-right: 20px;
  padding-left: 20px;
  font-size: 1.25em
}
a:link {
    color: #57b1dc;
    background-color: transparent;
    text-decoration: underline;
  }
  a:visited {
    color: #1089c2;
    background-color: transparent;
    text-decoration: underline;
  }
  a:hover, a:focus a:active {
    color:#FAB42A;
    text-shadow: 0 0 2px #ffd500, 0 0 5px rgba(98, 198, 245, 0.15);
}

    
    body{ 
        background-color: #131313; 
        margin: 0 10%; 
        font-family: sans-serif; 
        }
    
    h1 { 
        text-align: center;
        font-family: 'Archivo', sans-serif;
        font-weight: bold; 
        text-transform: uppercase; 
        letter-spacing: 15px;
        font-size: 30px;
        margin-top: 30px;
        padding-bottom: 25px;
  
        color:#FAB42A;
        border-bottom: 1px solid #37EEFB;
        } 
        
        p { 
          text-align: center;
          font-family: 'Fira Sans Condensed', sans-serif;
        
        
        border-bottom: 1px solid #37EEFB; 
        padding-bottom: 1em;
        margin-top: 1em;
        font-size: 1.25em;
        color: azure;
            }
            img {
              margin: auto;
              display: grid;
                height: 100%;
                max-width: 100%;
                max-height: 100vh;
                
              }
              .scrollToTopBtn {
                position: fixed;
                bottom: 20px; /* Adjust the distance from the bottom as needed */
                right: 20px; /* Adjust the distance from the right as needed */
                z-index: 1000; /* Ensure the button is above other content */
              
                color: #fff; /* White text color */
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
                opacity: 1; /* Make the button visible */
                transition: opacity 0.3s; /* Add a transition for smooth fading in/out */
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #FAB42A;
               /* Replace 'path_to_arrow_up_icon.png' with the actual path to your arrow-up icon */
                background-size: 30px; /* Adjust the size of the arrow icon */
                background-repeat: no-repeat;
                background-position: center; /* Center the arrow icon */
                animation: fadeIn 0.5s ease;
                display: none;
                opacity: 0;
                transition: opacity 0.3s, transform 0.3s;
              }
              @keyframes fadeIn {
                from {
                  opacity: 0;
                  transform: translateY(20px);
                }
                to {
                  opacity: 1;
                  transform: translateY(0);
                }
              }
              
              /* Show the button when you scroll down */
              .show-button {
                display: block;
                opacity: 1;
                transform: translateY(0); /* Optionally, add a scaling effect */
              }
              body::-webkit-scrollbar {
                width: 12px; /* Set the width of the scrollbar */
              }
              
              body::-webkit-scrollbar-track {
                background: #1a1a1a; /* Set the background color of the scrollbar track */
              }
              
              body::-webkit-scrollbar-thumb {
                background: #FAB42A; /* Set the color of the scrollbar thumb (dark blue) */
                border-radius: 6px; /* Round the corners of the thumb */
                transition: background 0.3s; /* Add a transition for the background color */
              }
              
              body::-webkit-scrollbar-thumb:hover {
                background: #FAB42A; /* Change the thumb color on hover (light blue) */
              }
    